body {
  background-color: rosybrown;
  font: Arial sans-serif;
}

.p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-card {
    width: 300px;
    background-color: rgb(238, 203, 203);
    padding: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
}

.profile-image {
    width: 300px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.hr {
    border: none;
    border-top: 1px solid black;
}