body {
  background-color: rosybrown;
  font-family: monospace, sans-serif;
}

.p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-card {
    width: 350px;
    background-color: rgb(238, 203, 203);
    padding: 50px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.profile-image {
    width: 300px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.hr {
    border: none;
    border-top: 1px solid black;
}