body {
  background-color: rosybrown;
  font: Arial sans-serif;
}

.p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-card {
    width: 300px;
    background-color: rgb(238, 203, 203);
    padding: 20px;
    margin-top: 100px;
    align-items: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}